.short-lines {
  padding: 10px;
}

main {
  background-color: #fdf7f2;
}

.event__wrapper {
  background-color: #fff;
}

main > section {
  min-height: 200px;
}

.event__details {
  display: grid;
}

h1 {
  grid-column: -1/1;
  text-align: center;
}

h2 {
  margin-bottom: 10px;
}

.event__details div {
  max-width: 360px;
  margin: 0 auto;
}
