.short-lines {
  padding: 10px;
}

.read-more {
  display: block;
}

.hamburger-label {
  background-color: #1c606d;
  color: #fff;
  font-size: 1.2rem;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hamburger-label div {
  width: 30px;
  height: 30px;
  transition: transform 0.5s;
}

#events__hamburger,
#exhibits__hamburger,
#events__hamburger:checked ~ .events__list,
#exhibits__hamburger:checked ~ .exhibits__list {
  display: none;
}

#events__hamburger:checked ~ .hamburger-label div,
#exhibits__hamburger:checked ~ .hamburger-label div {
  transform: rotate(-180deg);
}

.events,
.exhibits,
.events__list,
.exhibits__list {
  padding-bottom: 20px;
}

.events__list,
.exhibits__list {
  display: grid;
  gap: 10px;
  background-color: #fdf7f2;
}

.events__list section,
.exhibits__list section {
  padding: 5px;
  border: 1px solid;
  background-color: #fff;
}
