.short-lines {
  padding: 0 10px;
}

.location__map,
.accessibility__image {
  width: 90%;
  margin: 20px auto;
}

ul,
p {
  margin: 0;
}

ul {
  list-style-type: none;
  padding: 0;
}

iframe {
  width: 100%;
  height: 100%;
}

.location__address {
  grid-area: address;
}

.location__open {
  grid-area: list;
}

.location__map {
  grid-area: map;
}

.accessibility__accessibility {
  grid-area: accessibility;
}
.accessibility__food {
  grid-area: food;
}
.accessibility__shop {
  grid-area: shop;
}

.accessibility__image {
  grid-area: image;
  max-width: 225px;
}

.information:last-of-type {
  margin-bottom: 50px;
}
